@import "setings/_mixins";
@import "setings/_fonts";
@import "setings/_vars";
@import "setings/_base";
@import "elements/_sprite";
@import "sections/_about";
@import "sections/_recalls";
@import "sections/_comand";
@import "sections/_menu";
@import "sections/_order";
@import "sections/_slider";
@import "sections/_page-footer";

body,html{
	height: 100%;
	padding: 0;
	background-color: white;
	color: #000;
	font-family: $mainFont, sans-serif;
}

.container{
	width: 100%;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.section-title{
	text-align: center;
	color: #2f3234;
	font-family: $mainTitleFont;
	font-size: 72px;
	font-weight: 400;
	margin: 0 0 30px;
	@media only screen and (max-width : 992px) {
        text-align: center;
    } 
	&--comand{
		color: rgb(249, 180, 59);
		margin: 0;
		text-align: left;
		line-height: 0.75em;
		margin-bottom: 46px;
		@media only screen and (max-width : 992px) {
			text-align: center;
		} 
	}
	&--menu{
		color: white;
		text-align: left;
		margin:110px auto 0 95px;
		@media only screen and (max-width : 992px) {
			position: absolute;
			left: 20px;
			top:115px;
		}
	}
	&--form{
		color: rgb(249, 180, 59);
		margin-bottom: 45px;
	}
	@media only screen and (max-width : 480px) {
		font-size: 36px;
	}
}

.live-scroll{
	position: fixed;
	top:90px;
	right: 50px;
	display: flex;
	flex-direction: column;
	&__item{
		width: 16px;
		height: 16px;
		background-color: transparent;
		border-radius: 16px;
		padding: 5px;
		line-height: 0;
		margin-bottom: 5px;
		position: relative;
		list-style: none;
		&.active{border: 1px solid rgb(255, 255, 255);}
		&:after{
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 6px;
			background-color: #ffffff;
			position: absolute;
			top:50%;
			left: 50%;
			line-height: 0;
			transform: translate(-50%, -50%);
		}
	}
	@media only screen and (max-width : 480px) {
		display: none;
	}
}

@media only screen and (max-width : 992px) {
	.btn_mnu {
		width: 24px;
		height: 27px;
		margin-left: 30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		cursor: pointer;
		position: relative;
	}
	.btn_row {
		width: 1.5rem;
		height: 0.25rem;
		margin: 5px 0 0;
		border-radius: 3px;
		background-color: #fff;
		position: relative;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	.btn_row:first-child{
		margin-top: 0;
	}
	.btn_mnu.active .btn_row:first-child {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
		top: 6px;
	}
	.btn_mnu.active .btn_row:last-child {
		-webkit-transform: rotate(-225deg);
		-ms-transform: rotate(-225deg);
		-o-transform: rotate(-225deg);
		transform: rotate(-225deg);
		top: -6px;
	}
	.btn_mnu.active .btn_row:nth-child(2) {
		opacity: 0;
	}
}