.about{
	height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	background:transparent url('../img/about-bg.jpg') left top no-repeat;
	background-size: cover;
	.container{
		display: flex;
		justify-content:space-between;
		@media only screen and (max-width : 768px) {
			flex-direction: column;
		}
	}
	&__text{
		max-width: 286px;
		opacity: 0.8;
		color: #2f3234;
		font-family: $mainFont;
		font-size: 14px;
		font-weight: 300;
		line-height: 24.07px;
		text-align: center;
		@media only screen and (max-width : 768px) {
			text-align: left;
		}
	}
	&__item{
		text-align: center;
		@media only screen and (max-width : 768px) {
			display: flex;
			width: 100%;
		}
	}
	&__ic{
		margin-bottom: 35px;
		text-align: center;
		@media only screen and (max-width : 768px) {
			width: 130px;
		}
		.icon-meat{
			fill:#e25028;
			width: 6.063rem;
			height: 5.563rem;
		}
		.icon-hand{
			width: 4.563rem;
			height: 5.313rem;
			fill:#f8b43a;
		}
		.icon-natural{
			width: 5.5rem;
			height: 4.688rem;
			fill:#8ac03e;
		}
	}
	&__subtitle{
		color: #2f3234;
		font-family: $subTitleFont;
		font-size: 24px;
		font-weight: 500;
		margin: 0 0 13px;
		letter-spacing: -0.6px;
		text-align: center;
		line-height: 28.14px;
		@media only screen and (max-width : 768px) {
			text-align: left;
		}
	}
}